@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
  --primary-color: #007bff;
  --secondary-color: #c396d3;
}

* {
  margin: 0.25rem;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  border-radius: 2rem;
}

.navigation {
  margin: 0;
  border: 0.25rem solid var(--primary-color);
  padding-top: 0px;
  
  position: sticky;
  top: 0;
  
}

nav a {
  color: white;
  text-decoration: none;
}

nav ul {
  display: flex;
  font-size: x-large;
  font-weight: bold;
  list-style: none;
  justify-content: center;
  gap: 10%;
}

/* Mobile-responsive navigation */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column; /* Stack navigation links vertically */
    text-align: center; /* Center the text */
    gap: 1rem; /* Adjust the spacing */
    padding: 1rem; /* Add some padding for better touch interaction */
  }
}

.noConnect {
  padding-top: 0.5rem;
  border: 0.125rem solid black;
  border-radius: 0.3rem;
  background-color: var(--primary-color);
  box-shadow: -4px 4px black;
  transition: box-shadow 0.3s ease;
}

.noConnect:hover {
  box-shadow: -1px 1px black;
}

.connectWearable {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.footer {
  display: flex;
  column-gap: 40%;
  flex-direction: row;
  justify-content: center;
  border: 0.375rem solid var(--secondary-color);
}

/* Mobile-responsive footer */
@media (max-width: 768px) {
  .footer {
    flex-direction: column; /* Stack footer content vertically */
    text-align: center; /* Center the content */
    column-gap: 0; /* Remove column gap */
    padding: 1rem; /* Add padding for better spacing */
  }
}

body {
  background: linear-gradient(45deg, #a2c0e1, #eddff2);
  background-size: 400% 400%;
  animation: gradientAnimation 10s infinite alternate;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.graph-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}

.graph-item {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 4px;
  /* You can add additional styling as needed */
}

/* Mobile-responsive graph container */
@media (max-width: 768px) {
  .graph-container {
    grid-template-columns: 1fr; /* Display graph items in a single column */
  }
}
