@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
    --primary-color: #007bff;
    --secondary-color: #c396d3;
  }

* {
    margin: 0.25rem;
    padding: 0;
    border: 0;
    font-family: 'Poppins';
    border-radius: 2rem;
}

nav {
    margin: 0;
    border: 0.375rem solid var(--primary-color);
    position: sticky;
}

nav a { 
    color: white;
    text-decoration: none;
}

nav ul {
    display: flex;
    font-size: x-large;
    font-weight: bold;
    list-style: none;
    justify-content: center;
    gap: 10%;
}

.noConnect {
    padding-top: 0.5rem;
    border: 0.125rem solid black;
    border-radius: 0.3rem;  
    background-color: var(--primary-color);
    box-shadow: -4px 4px black;
    transition: box-shadow 0.3s ease; /* Add a transition for smooth animation */
}

.noConnect:hover {
    box-shadow: -1px 1px black; /* Change the shadow on hover */
}


.connectWearable {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.footer {
    display: flex;
    column-gap: 40%;
    flex-direction: row;
    justify-content: center;
    border: 0.375rem solid var(--secondary-color);
}